
header {
    height: 105vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(../Assets/foodBowl2-edgar-castrejon-1SPu0KT-Ejg-unsplash-compressor.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
    nav {
        width: 100vw;
        height: 10vh;
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $yellow;

        .logo {
            width: 12vw;
            margin-right: 2rem;
            margin-left: 2rem;
            min-width: 10rem;
        }

        h2 {
            margin-left: 2rem;
        }
    }
}

.headerStyling {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.466);

}

.formBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    @include fluid-type (1.5rem, 2.8rem, 360px, 1280px);
    margin: 3%;

    .inPutFieldset {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1%;
    }

    #searchBox {
        margin: 1%;
        height: 5rem;
        width: 100%;
        border-radius: 5vw;
        box-shadow: 5px 5px 5px $charcoalBlack;
        display: block;
    }

    .searchBoxButton {
        margin: 1%;
        width: 100%;
        border-radius: 5vw;
        height: 5rem;
        box-shadow: 5px 5px 5px $charcoalBlack;
        display: block;
    }
}

input {
    padding-left: 15px;
    padding-right: 15px;
}

.inputToolTip {
    width: 15vw;
    min-width: 200px;
    text-align: center;
    background: #596157c9;
    color: white;
    border-radius: 1vw;
    position: relative;
    top: -30rem;
    right: -40rem;
    visibility: hidden;
}

.inputBox:hover ~ .inputToolTip {
    visibility: visible;
    z-index: 10;
    transition: 3s all ease-in;
}

.searchBoxButton:active {
    box-shadow: 2px 2px 2px $charcoalBlack;

}

// styling for the dietary restrictions section
.radioFields {
    width: 100%;
    background: rgba(255, 255, 255, 0.589);
    border-radius: 2vw;
    margin: 2% 1%;
    padding: 2%;

    .radioFieldSet {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: repeat(2, 1fr);
        width: 80vw;
    }

    .radioHouse {
        width: 100%;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .dietInput {
        padding: 2%;
        min-width: 145px;
        font-family: 'Kanit',
        sans-serif;
    }

    input[type='radio'] {
        transform: scale(1.25);
    }
}