header {
    height: 100vh;
    display: flex;
    justify-content: center;
    background: url(../Assets/foodBowl2-edgar-castrejon-1SPu0KT-Ejg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    nav {
        width: 100vw;
        height: 7vh;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $yellow;
        z-index: 10;

        .logo {
            width: 12vw;
            margin-right: 2rem;
            margin-left: 2rem;
        }

        h2 {
            margin-left: 2rem;
        }
    }
}

.headerGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-template-rows: 1fr;
    grid-auto-flow: dense;
    height: 100%;
    width: 100%;

    .halfHeader {
        height: 100%;
        width: 100%;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .halfHeader2 {
        width: 50%;
    }
}

.formBox {
    position: absolute;
    top: 35%;
    display: flex;
    flex-direction: column;
}

form {
    @include fluid-type (1.5rem, 2.8rem, 360px, 1280px);

    fieldset {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #searchBox {
        margin: 1%;
        height: 5rem;
        width: 100%;
        border-radius: 5vw;
        box-shadow: 5px 5px 5px $charcoalBlack;
        display: block;
    }

    .searchBoxButton {
        margin: 1%;
        width: 100%;
        border-radius: 5vw;
        height: 5rem;
        box-shadow: 5px 5px 5px $charcoalBlack;
        display: block;
    }
}

input {
    padding-left: 15px;
    padding-right: 15px;
}

.inputToolTip {
    width: 15vw;
    text-align: center;
    background: #596157c9;
    color: white;
    border-radius: 1vw;
    position: relative;
    top: -15vh;
    left: -15vw;
    visibility: hidden;
}

.searchBoxClass:hover ~ .inputToolTip {
    visibility: visible;
    z-index: 10;
    transition: 3s all ease-in;
}

main {
    height: 100vh;
    background: url('../../Assets/sebastien-marchand-oVIUvwm2dvM-unsplash.jpg')
}