// styling for the results page
main {
    height: 100vh;
    background: url(../../Assets/lukas-blazek-f-TWhXOrLiU-unsplash-compressor.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.recipesHeader h2 {
    display: block;
    width: 60vw;
    padding: 2%;

}

.recipesResults {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;


    .results {
        width: 100%;
        margin: 5% 0;
    }

    .suggestedRecipes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        li {
            width: calc(100% / 5);
            border: 1px solid grey;
            position: relative;
            min-width: 180px;

            p {
                // font-family: "Kanit", sans-serif;
                // font-size: calc(1.2rem + 0.5vw);
                font-style: italic;
                text-align: center;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background-color: #17212171;
                width: 100%;
                color: white;
            }
        }
    }
}

// Suggested Recipes Results section ends

.reload {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.reloadAll {
    width: 25vw;
    height: 3vw;
    box-shadow: 5px 5px 5px $charcoalBlack;
}

.reloadAll:active {
    box-shadow: 2px 2px 2px $charcoalBlack;

}