html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/****** GENERAL STYLING ******/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  background: white;
  height: 95vh;
}

.wrapper {
  width: 100vw;
  max-width: 1250px;
  margin: 0 auto;
}

/* FONT STYLING */
h1, h2, h3, h4, p, a, li, ul {
  line-height: 26px;
}

h1, h2, h3, h4, h5, a {
  font-family: 'Righteous', cursive;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

h1 {
  font-size: calc(2.5rem + 3.5 * ((100vw - 460px) / 820));
  margin: 0;
  line-height: 5rem;
  font-family: 'Ultra', serif;
  font-weight: 300;
  text-shadow: 5px 5px 5px #172121;
  text-align: center;
}

@media screen and (max-width: 460px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1280px) {
  h1 {
    font-size: 6rem;
  }
}

h2 {
  font-size: calc(1.5rem + 3.5 * ((100vw - 360px) / 920));
  margin: 0;
  line-height: 2.5rem;
  display: inline;
  font-family: 'Kanit', sans-serif;
  text-shadow: 2px 2px #172121, 2px -2px #172121, -2px 2px #172121, -2px -2px #172121;
}

@media screen and (max-width: 360px) {
  h2 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1280px) {
  h2 {
    font-size: 5rem;
  }
}

h3 {
  font-size: calc(1.8rem + 1.2 * ((100vw - 360px) / 920));
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  line-height: 4rem;
  color: white;
  font-family: 'Kanit', sans-serif;
  text-shadow: 5px 5px 5px #172121;
  padding-left: 2%;
  display: inline-block;
}

@media screen and (max-width: 360px) {
  h3 {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1280px) {
  h3 {
    font-size: 3rem;
  }
}

h4 {
  font-size: calc(1.8rem + 1.2 * ((100vw - 360px) / 920));
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  line-height: 4rem;
  color: black;
}

@media screen and (max-width: 360px) {
  h4 {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1280px) {
  h4 {
    font-size: 3rem;
  }
}

h5 {
  font-size: calc(1.5rem + 0.5 * ((100vw - 360px) / 920));
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  line-height: 4rem;
  color: black;
}

@media screen and (max-width: 360px) {
  h5 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1280px) {
  h5 {
    font-size: 2rem;
  }
}

p {
  font-family: 'Kanit', sans-serif;
  font-size: calc(1.5rem + 0.5 * ((100vw - 360px) / 920));
  margin: 0;
  line-height: 4rem;
}

@media screen and (max-width: 360px) {
  p {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1280px) {
  p {
    font-size: 2rem;
  }
}

li,
ul {
  text-decoration: none;
  list-style-type: none;
  line-height: 46px;
  font-family: 'Cabin', sans-serif;
  font-size: calc(1.5rem + 1 * ((100vw - 360px) / 920));
}

@media screen and (max-width: 360px) {
  li,
  ul {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1280px) {
  li,
  ul {
    font-size: 2.5rem;
  }
}

img {
  width: 100%;
  display: block;
}

button {
  font-family: 'Oswald', sans-serif;
  min-width: 8rem;
  min-height: 4rem;
  background: #d74e09;
  font-size: calc(2rem + 1 * ((100vw - 360px) / 920));
  font-weight: bold;
  color: #f6f6f6;
  text-transform: uppercase;
  border-radius: 25px;
}

@media screen and (max-width: 360px) {
  button {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1280px) {
  button {
    font-size: 3rem;
  }
}

.pBreak {
  display: block;
  margin-bottom: 2%;
  word-wrap: break-word;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

header {
  height: 105vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url(../Assets/foodBowl2-edgar-castrejon-1SPu0KT-Ejg-unsplash-compressor.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

header nav {
  width: 100vw;
  height: 10vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: rgba(0, 0, 0, 0.466);
  padding: 1% 5%;
}

.headerStyling {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.466);
}

.formBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form {
  font-size: calc(1.5rem + 1.3 * ((100vw - 360px) / 920));
  margin: 3%;
}

@media screen and (max-width: 360px) {
  form {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1280px) {
  form {
    font-size: 2.8rem;
  }
}

form .inPutFieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1%;
}

form #searchBox {
  margin: 1%;
  height: 5rem;
  width: 100%;
  border-radius: 5vw;
  -webkit-box-shadow: 5px 5px 5px #172121;
          box-shadow: 5px 5px 5px #172121;
  display: block;
}

form .searchBoxButton {
  margin: 1%;
  width: 100%;
  border-radius: 5vw;
  height: 5rem;
  -webkit-box-shadow: 5px 5px 5px #172121;
          box-shadow: 5px 5px 5px #172121;
  display: block;
}

input {
  padding-left: 15px;
  padding-right: 15px;
}

.inputToolTip {
  width: 15vw;
  min-width: 200px;
  text-align: center;
  background: #596157c9;
  color: white;
  border-radius: 1vw;
  position: relative;
  top: -30rem;
  right: -40rem;
  visibility: hidden;
}

.inputBox:hover ~ .inputToolTip {
  visibility: visible;
  z-index: 10;
  -webkit-transition: 3s all ease-in;
  transition: 3s all ease-in;
}

.searchBoxButton:active {
  -webkit-box-shadow: 2px 2px 2px #172121;
          box-shadow: 2px 2px 2px #172121;
}

.radioFields {
  width: 100%;
  background: rgba(255, 255, 255, 0.589);
  border-radius: 2vw;
  margin: 2% 1%;
  padding: 2%;
}

.radioFields .radioFieldSet {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  width: 80vw;
}

.radioFields .radioHouse {
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.radioFields .dietInput {
  padding: 2%;
  min-width: 145px;
  font-family: 'Kanit', sans-serif;
}

.radioFields input[type='radio'] {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

main {
  background: url(../Assets/lukas-blazek-f-TWhXOrLiU-unsplash-compressor.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
}

.recipesHeader h2 {
  display: block;
  width: 60vw;
  padding: 2%;
}

.recipesResults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 15%;
}

.recipesResults .results {
  width: 100%;
  margin: 5% 0;
}

.recipesResults .suggestedRecipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.recipesResults .suggestedRecipes li {
  width: calc(100% / 5);
  border: 1px solid grey;
  position: relative;
  min-width: 180px;
}

.recipesResults .suggestedRecipes li p {
  font-style: italic;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #17212171;
  width: 100%;
  color: white;
}

.reload {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reloadAll {
  width: 25vw;
  height: 3vw;
  -webkit-box-shadow: 5px 5px 5px #172121;
          box-shadow: 5px 5px 5px #172121;
}

.reloadAll:active {
  -webkit-box-shadow: 2px 2px 2px #172121;
          box-shadow: 2px 2px 2px #172121;
}
